version: '3.8'
services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb

  keycloak:
    image: quay.io/keycloak/keycloak:26.1.1
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    command: start-dev
    volumes:
      - keycloak_data:/opt/keycloak/data

  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    command: uvicorn src.presentation.routes.absence_routes:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - mongodb
      - keycloak

volumes:
  mongo_data:
  keycloak_data:
