version: '3.8'
services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb

  keycloak:
    image: quay.io/keycloak/keycloak:26.1.1
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    command: start-dev

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
      - keycloak
volumes:
  mongo_data:
